.AppHome {
  background-image: url('./images/homeBg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  margin: 0%;
  padding: 0%;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;

  font-family: 'Autour One', sans-serif;
  color: #072541;
}

.App {
  background-image: url('./images/fullBg.PNG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  margin: 0%;
  padding: 0%;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;

  font-family: 'Autour One', sans-serif;
  color: #072541;
}

.AppGame {
  background-image: url('./images/gameBg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  margin: 0%;
  padding: 0%;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;

  font-family: 'Autour One', sans-serif;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #E95793;
}

/*------------------------------------------------------- Home page --------------------------------------------------------- */
/*------------------------------------------------------- Home page --------------------------------------------------------- */
/*------------------------------------------------------- Home page --------------------------------------------------------- */

.PlayerCount {
  font-family: 'Autour One', sans-serif;
  color: black;
  white-space: nowrap;
  align-self: end;
  margin: 3vh 3vw 0vh 0;
}

.Title {
  font-family: 'Autour One', sans-serif;
  color: black;
  white-space: nowrap;
  align-self: center;
  text-transform: uppercase;
  margin: 7vh 0 -3vh 0;
}


.RainyWords {
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.5));
  font-size: 10rem;
  font-weight: 900;
}

.options {
  list-style: none;
  color: black;
  font-size: 3rem;
  font-family: 'Autour One', sans-serif;
  padding: auto;
}

.option {
  margin: 1rem 0 0 7rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

.notOption {
  white-space: nowrap;
  margin: 0rem 0 -7rem 7rem;
  text-transform: uppercase;
  border-bottom: #E95793;
  padding: 0;
}

.option:hover {
  color: #E95793;
  cursor: pointer;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  /* cursor: url('./images/teemo.png'), auto; */
}

.option:hover .room {
  transform: scale(1);
  transition: transform 0.3s;
}

.option:hover .roomNumber {
  transform: scale(1);
  transition: transform 0.3s;
}

.room {
  transform: scale(0);
  margin: 0 0 0 2vw;
  background-color: #072541;
  color: aliceblue;
  border-radius: 1rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  align-self: center;
}

.room:hover {
  color: #E95793;
}

.roomNumber {
  transform: scale(0);
  margin: 0 0 0 2vw;
  background-color: #072541;
  color: aliceblue !important;
  border-radius: 1rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  align-self: center;
  display: flex;
  flex-direction: row;
}

.roomNumberInput {
  margin: 0 1vw 0 1vw;
  width: 5rem;

  border-radius: 0.5rem;
  background-color: aliceblue;
  border: none;

  color: #072541;
  font-family: 'Autour One', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

.roomNumberInput:focus {
  color: #f687b3;
  border: none;
  outline: 3px solid #f687b3;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.roomNumberInput:focus::placeholder {
  opacity: 0;
  visibility: hidden;
}

.submitRoom {
  color: #072541;
  font-family: 'Autour One', sans-serif;
  font-weight: bold;
  margin: 0 1vw 0 0;
}

.submitRoom:hover {
  color: #E95793;
  font-family: 'Autour One', sans-serif;
  font-weight: bold;
}


.Welcome {
  color: black;
  font-family: 'Autour One', sans-serif;
  align-self: center;

  display: flex;
  flex-direction: column;
  margin: 0 0 2vh 0;
}

.UsernameInput {
  font-family: 'Autour One', sans-serif;
  font-size: 2rem;
  text-align: center;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255);
  border: none;

  padding: 0.5rem 2rem;

  margin: 3rem 0 1rem 0;
}

.UsernameInput:focus {
  color: #f687b3;
  border: none;
  outline: 3px solid #f687b3;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.UsernameInput:focus::placeholder {
  opacity: 0;
  visibility: hidden;
}

.SubmitName {
  background-color: #072541;
  color: aliceblue;
  border: none;
  border-radius: 0.3rem;
  font-family: 'Autour One', sans-serif;
  font-size: 2rem;
  text-align: center;
  font-weight: 900;

}

.SubmitName:hover {
  color: #E95793;
  /* background-color: transparent; */
  cursor: pointer;
  transition-duration: 0.5s;
  transition-timing-function: ease;

}

.Username {
  color: #E95793;
}




.didntTouch {
  align-self: center;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
}

.didntTouch h1 {
  font-size: 1rem;
}

/*------------------------------------------------------- play page --------------------------------------------------------- */
/*------------------------------------------------------- play page --------------------------------------------------------- */
/*------------------------------------------------------- play page --------------------------------------------------------- */

.playContainer {
  align-self: center;
  justify-self: center;
  min-height: 100vh;
  display: flex;
}

.notPlayContainer {
  margin-top: -100vh;
}


.midScreenContainer {
  background-color: #B0926A;
  /* backdrop-filter: blur(30px); */
  /* background: rgba(248, 117, 170, 0.1); */
  align-self: center;
  justify-self: center;
  color: #072541;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 70vh;
  height: 70vh;
  border-radius: 5rem;
  color: #FAE7C9;
  font-weight: 900;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  border: 1rem solid;
  border-color: #E1C78F;
  margin: 0 2vw;

}

.gameMode {
  font-size: 4rem;
  white-space: nowrap;

}

.lobbyCount {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.waiting {
  font-size: 1rem;
}

.lobbyPlayers {
  width: 70vh;
  height: 25vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center
}

.lobbyPlayer {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.playerIcon {
  width: 4rem;
}

.playerMe {
  color: #FAE7C9;
}

.startGame {
  color: #FAE7C9;
  border-color: #FAE7C9;
  font-family: 'Autour One', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  border-radius: 0.5rem;
  background-color: transparent;
  cursor: pointer;
}

.startGameNotHead {
  opacity: 0.3;
  color: #4d4949;
  border-color: #4d4949;
  font-family: 'Autour One', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  border-radius: 0.5rem;
  background-color: transparent;
  cursor: pointer;
}

.startGame:hover {
  color: #E1C78F;
  border-color: #E1C78F;
  font-family: 'Autour One', sans-serif;
  font-weight: bold;
}

.leaveRoom {
  margin: 3vh 0 0 3vw;
  font-size: 2rem;
  cursor: pointer;
  color: #B0926A;
  font-weight: 900;
}

.lobbySetting {
  background-color: #B0926A;
  /* backdrop-filter: blur(40px);
  background: rgba(248, 117, 170, 0.2); */
  align-self: center;
  justify-self: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  width: 20vw;
  height: 70vh;
  color: #FAE7C9;
  font-weight: 900;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  border: 1rem solid;
  border-color: #E1C78F;
}

.settingTitle {
  font-size: 3rem;
  font-weight: 900;
  margin: 1rem;
  /* -webkit-text-stroke: 0.01rem #B0926A; */


}

.wordSetting {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.difficulties {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

.easy {
  background-color: #219C90;
  margin: 0 1vw;
  padding: 0.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.medium {
  background-color: #E9B824;
  margin: 0 1vw;
  padding: 0.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.hard {
  background-color: #D83F31;
  margin: 0 1vw;
  padding: 0.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.speedSetting {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.speedInput {
  width: 10vw;
  margin: 1rem;
}

.timeSetting {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeInput {
  width: 10vw;
  margin: 1rem;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 12vw;
  background-color: transparent;
  height: 0.5rem;
  border-radius: 1rem;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 12vw;
  height: 0.5rem;
  background: linear-gradient(to right, #219C90, #E9B824, #EE9322, #D83F31);
  border-radius: 1rem;
}


input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -0.7rem;
  width: 1.5rem;
  height: 2rem;
  background: url('./images/chicken5.png') center center no-repeat;
  /* Image for the thumb */
  background-size: cover;
  /* Make the image cover the thumb */
  /* border: 2px solid #fff; 
  border-radius: 50%;  */
  cursor: pointer;
  /* Change the cursor on hover */
}

input[type=range]:focus {
  outline: none;
}

.defaultSetting {
  margin-top: 3rem;
}

.defaultSetting:hover {
  color: #E1C78F;
  cursor: pointer;
}

.lobbyChat {
  background-color: #B0926A;
  /* backdrop-filter: blur(40px);
  background: rgba(248, 117, 170, 0.2); */
  align-self: center;
  justify-self: center;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 5rem 5rem 0 0;
  width: 20vw;
  height: 70vh;
  color: #FAE7C9;
  font-weight: 900;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  border: 1rem solid;
  border-color: #E1C78F;
}

.chatContainer {
  display: flex;
  flex-direction: row;
  width: 18vw;
  justify-content: flex-start;
}

.myChatContainer {
  display: flex;
  flex-direction: row;
  width: 18vw;
  justify-content: flex-end;
}

.chat {
  display: flex;
  flex-direction: column;
}

.chatHistory {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 3rem 3rem 0 0;
  padding-left: 0.5rem;

}

/* Style the scrollbar in WebKit-based browsers (Chrome and Safari) */
.chatHistory::-webkit-scrollbar {
  width: 0.5rem;
  height: 10vh;
}

/* .chatHistory::-webkit-scrollbar-track {
  margin-left: 1rem;
} */

.chatHistory::-webkit-scrollbar-thumb {
  background: #706233;
  border-radius: 6px;
}

.chatHistory::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 0.5rem;
}

.chatHistory::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 5vh;
}

/* .chatHistory::-webkit-scrollbar-track {
  height: 10vh;
} */

/* .chatHistory::-webkit-scrollbar-thumb:hover {
  background: ;
} */








.chatWelcome {
  align-self: center;
  opacity: 0.6;
  margin-bottom: 1rem;
}

.showStatus {
  align-self: center;
  opacity: 0.6;
  margin-bottom: 1rem;
}

.chatPlayerName {
  font-size: 0.75rem;
  align-self: flex-start;
}

.myChatPlayerName {
  font-size: 0.75rem;
  align-self: flex-end;
}

.chatMessage {
  font-size: 1rem;
  background-color: #FAE7C9;
  color: #B0926A;
  padding: 0.25rem;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  font-weight: 500;

  max-width: 15vw;

  margin: 0 0 0.5rem 0;
}

.myChatMessage {
  font-size: 1rem;
  background-color: #FAE7C9;
  color: #B0926A;
  padding: 0.25rem;
  border-radius: 0.5rem 0 0.5rem 0.5rem;
  font-weight: 500;

  max-width: 15vw;
  align-self: flex-end;


  margin: 0 0 0.5rem 0;
}

.chatInput {
  font-size: 1rem;
  background-color: #FAE7C9;
  color: #B0926A;
  border: none;
  width: 18vw;
  margin-bottom: 0.5rem;
  font-family: 'Autour One', sans-serif;
  font-weight: 900;
  outline: 3px solid #706233;
}

.chatInput:focus {
  border: none;
  outline: 4px solid #706233;
  /* transition-duration: 0.5s;
  transition-timing-function: ease; */
}





/*------------------------------------------------------- game page --------------------------------------------------------- */
/*------------------------------------------------------- game page --------------------------------------------------------- */
/*------------------------------------------------------- game page --------------------------------------------------------- */

.canvasContainer {
  align-self: center;
  justify-self: center;
  min-height: 100vh;
  display: flex;
}

.otherContainer {
  margin-top: -100vh;
  display: flex;
  min-height: 100vh;
  /* justify-content: center; */
}

.otherOtherContainer {
  margin-top: -100vh;
  min-height: 100vh;
  align-self: center;
  justify-self: center;
  display: flex;

}

.otherOtherOtherContainer {
  margin-top: -100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

.keyboard {
  margin-top: -115vh;
  margin-right: 1rem;
  display: flex;
  justify-content: flex-end;
}

.bigNumber {
  font-size: 40vh;
  align-self: center;
  z-index: 100;
}

.topOverlay {
  position: fixed;
  top: 0;
  right: 50%;
  transform: translate(50%, 0);
  opacity: 0.9;
  display: flex;
  flex-direction: row;

}

.game-left {
  display: flex;
  flex-direction: column;
}

.GameTimer {
  /* align-items: center;
  justify-self: center; */

  background-color: #072541;
  /* Padding: 1rem 5rem 1rem 5rem;  */
  Padding: 1rem 0;
  width: 20vw;
  font-size: 2rem;
  border-radius: 0 0 2rem 2rem;
  color: aliceblue;
  display: flex;
  justify-content: center;
}

.PlayerScores {
  font-size: 1.5rem;
  white-space: nowrap;
  margin: 3vh 0 0 1vw;
  font-weight: 900;
  display: flex;
  flex-direction: column;

  background-image: url('./images/fullBg.PNG');
  background-position: -1vh 5vw;
  min-height: 70vh;
  padding: 1vh 1vw;
  width: 19vw;
  border-radius: 3rem;
}

.PlayerScoresTitle {
  align-self: center;
  font-size: 2rem;
  font-weight: 900;
  padding: 2vh 0 1vh 0;
}

.PlayerScore {
  margin-top: 2vh;
}

.legend {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  margin: 3vh 3vh 0 0;
  background-image: url('./images/fullBg.PNG');
  background-position: 88vh 5vw;
  padding: 1vh 1vw;
  border-radius: 3rem;
}

.legendEggContainer {
  display: flex;
  flex-direction: column;

}

.legendTitle {
  font-weight: 900;
  margin: 2vh 0 2vh 0;
  font-size: 2rem;
}

.legendEgg {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.eggPic {
  height: 3.5rem;
  margin: 1vh 2vw;
}

.freeze {
  background-color: blue;
  border-radius: 1.5rem;
  padding: 0.4rem
}

.slow {
  background-color: yellow;
  border-radius: 1.5rem;
  padding: 0.4rem
}

.easyWord {
  background-color: green;
  border-radius: 1.5rem;
  padding: 0.4rem
}

.blind {
  background-color: purple;
  border-radius: 1.5rem;
  padding: 0.4rem
}

.flood {
  background-color: lightblue;
  border-radius: 1.5rem;
  padding: 0.4rem
}

.nword {
  background-color: red;
  border-radius: 1.5rem;
  padding: 0.4rem
}

.speedUp {
  background-color: pink;
  border-radius: 1.5rem;
  padding: 0.4rem
}

/*------------------------------------------------------- end page --------------------------------------------------------- */
/*------------------------------------------------------- end page --------------------------------------------------------- */
/*------------------------------------------------------- end page --------------------------------------------------------- */

.finalScores {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.winner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 5vh 0;
}

.winnerName {
  font-size: 3rem;
}

.winnerScore {
  font-size: 2rem;
}

.looser {
  font-size: 2rem;
  margin: 0 0 1vh 0;
}

.button {
  background-color: #072541;
  color: aliceblue;
  border: none;
  border-radius: 0.3rem;
  font-family: 'Autour One', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin: 0 2vw;
  padding: 0.5vh 2vw;
}

.button:hover {
  color: #E95793;
  /* background-color: transparent; */
  cursor: pointer;
  transition-duration: 0.5s;
  transition-timing-function: ease;

}


/*------------------------------------------------------- top overlay --------------------------------------------------------- */